
.word-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.word-table-container > h3 {
  margin-bottom: 0;
}

.practice-list {
  line-height: 1.5em;
  padding: 0;
  list-style: none;
}

.practice-list > li > h4 {
  margin-bottom: 5px;
}

.word-table {
  color: rgb(33, 43, 71);
  border-collapse: collapse;
  background-color: rgb(240, 250, 255);
  border-style: inset;
}

td, th {
  border: 1px solid rgb(33, 43, 71);
  margin: none;
  padding: 3px;
}

